.board-container{
    font-size: 25px;
    
}

h2 {
    font-size: 75px;
    text-align: center;
}

.table-container {
    max-height: 1000px;
    overflow-y: auto;
    margin: 100px 0;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.3);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
}

.main-page-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}