.scoreboard {
    position: absolute;
    background-color: #D9D9D9;
    top: 14%;
    left: 70%;
    z-index: 1;
    padding: 25px;
    border-radius: 25px;
    height: 3%;
    width: 15%;
    display: flex;
    column-gap: 30%;
    row-gap: 0%;
    justify-content: center;
    align-items: center;
    color: black;
}
.scoreboard_text, h3{
    color: black;
    margin: 0;
}

.floorplan{
    position: absolute;
    background-color: #D9D9D9;
    left: 60%;
    top: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

