
.background {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

.signup-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.signup-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.signup-container button {
    width: 100%;
    padding: 12px;
    background-color: #5a5a5a;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-container button:hover {
    background-color: #4a4a4a;
}

.signup-container p {
    color: #000;
    margin-top: 20px;
}

.signup-container a {
    color: #8a2be2;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}