body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: url('../assets/images/HunterCoverPicture.png') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.login-box input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #5c524e;
    border: none;
    color: rgb(10, 8, 8);
    cursor: pointer;
}

.login-box button:hover {
    background-color: #3e3a36;
}

h1, p{
    color: black;
}

input{
    background-color: white;
    color: black;
}

.leaderboard-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}